data/Respuesta Solicitud  1893 lesionados por munis mensual y sexo de 2001 a 2017.pdf
data/Respuesta Solicitud  1894 lesionados por munis mensual y tipo de arma de 2001 a 2017.pdf
data/Respuesta Solicitud  1893 lesionados por munis mensual y sexo de 2001 a 2017.xlsx
data/edu
data/GIS
.gtv/
data/Datos-y-Tendencias-en-tasas-de-homicidios-por-diversas-causas-y-sexo-de-las-victimas-al-31-de-Mayo-de-2019-ver1.1.xlsx
data/PNC-tasas-anuales-de-homicidios-2001-al-2017-por-tipo-de-arma-o-causa-MUNICIPAL.xlsx
